html {
  scroll-behavior: smooth;
}

.ir-arriba {
  display: none;
  padding: 20px;
  border: 2px #e88817 solid;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10000;
  color: #e88817;
}

.modelo3d {
  width: 100%;
  margin: auto;
  text-align: center;
  background: url("./fdfd.png");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modelo3d2 {
  width: 100%;
  margin: auto;
  text-align: center;
  background: url("./fondoVideo.png");
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

model-viewer {
  width: 100%;
  margin: auto;
  height: 350px;
}

.boton {
  padding: 8px 30px;
  color: #fff;
  background: #ffcd5c;
  border: none;
  border-radius: 15px;
}

.botoncta {
  padding: 8px 30px;
  color: #ffcd5c;
  background: #252525;
  border: none;
  border-radius: 15px;
}

.botoncta:hover {
  color: #fff;
}

.navbar {
  background: #ffcd5c;
}

#navcol-3 a {
  color: #fff;
}

.navbar-brand img {
  width: 120px;
}

#contactanos img {
  width: 120px;
}

.imgform {
  padding-top: 0;
  padding-bottom: 8px;
}

#servicios img {
  width: 20%;
}

.servi img {
  width: 20%;
}

