.navbar.navbar-light.navbar-expand-lg.navigation-clean-button img {
  width: 160px;
}

.poste {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #985507;
  color: #fff;
  font-family: 'Aguafina Script';
}

main iframe {
  width: 100%;
  height: 1000px;
}

#carousel-1 {
  width: 80%;
  margin: auto;
}

#carousel-1 img {
  width: 100%;
}

form img {
  width: 120px;
}

#logoform {
  text-align: center;
}

.footer-basic {
  background: url("/assets/img/bgfooter.png?h=61f74aaefc3a3c56267defe3edd7ef0d");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-top: 10px;
}
.portafolio{
  max-width:1200px;
  margin:auto;
  text-align:center;
}
.portafolio img{
  width:100%;
}
.presentacionBoton{
  width:100%;
  height:300px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.presentacionBoton a{
  text-decoration:none;
  color:#000;
  
}
.presentacionBoton button{
  padding:10px 35px;
  background:#F2C744;
  border:none;
  font-weight:900;
  border-radius:25px;
  font-size:23px;
  
}

.audios{
  margin: auto;
  max-width: 800px;
}
.audios h3{
  text-align: center;
  color: #F2C744;
}
.audios audio{
  width: 100%;
}

.agradecimiento {
  text-align: center;
  padding: 10px;
  font-family: 'Roboto';
  font-weight: 900;
}

.botonesthanks {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.botonesthanks .btn {
  margin: 5px;
  border: none;
  background: #FFCD5C;
  color: #fff;
  width: 45%;
  border-radius: 15px;
}

.thanks3d {
  width: 100%;
  height: 300px;
  margin:auto;
  text-align:center;
  background: url("./tecfoodPost.png");
  background-size: cover;
  background-position: center;
}
model-viewer {
  width: 100%;
  margin: auto;
  height: 350px;
}

