.navbar.navbar-light.navbar-expand-lg.navigation-clean-button img {
  width: 140px;
}

.poste {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #985507;
  color: #fff;
  font-family: 'Aguafina Script';
}

main iframe {
  width: 100%;
  height: 1000px;
}

#carousel-1 {
  width: 80%;
  margin: auto;
}

#carousel-1 img {
  width: 100%;
}

form img {
  width: 120px;
}

#logoform {
  text-align: center;
}

.footer-basic {
  background: url("/assets/img/bgfooter.png?h=61f74aaefc3a3c56267defe3edd7ef0d");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-top: 10px;
}
.portafolio{
  max-width:1200px;
  margin:auto;
  text-align:center;
}
.portafolio img{
  width:100%;
}
